@import 'src/styles/variables.scss';

.kit-button {
  cursor: pointer;

  border: none;
  text-align: center;

  background-color: $brand-primary;
  color: $white;

  width: fit-content;
  padding: $space-2 $space-5;

  transition: all .3s ease-in;

  &:hover {
    background-color: $brand-primary-dark;
  }

  &--secondary {
    background-color: $brand-secondary;
    
    &:hover {
      background-color: $brand-secondary-dark;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--rounded {
    border-radius: $space-1;
  }
}