$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 44px;
$space-12: 48px;

$space-exact-2: 2px;
$space-exact-14: 14px;
$space-exact-56: 56px;
$space-exact-72: 72px;

$font-size-8: 0.5rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-36: 2.25rem;
$font-size-48: 3rem;

$brand-primary: #dd523b;
$brand-primary-dark: #bb5d3b;
$brand-secondary: #7f8ed1;
$brand-secondary-dark: #51539d;
$gray: #ebebeb;
$gray-dark: #c4c4c4;
$white: #ffffff;
$black: #000000;
$black-divider: #29123e;
$black-tint: rgba($black, 0.65);
$error-primary: #951D27;
$error-secondary: #DD5560;

:export {
  space1: $space-1;
  space2: $space-2;
  space3: $space-3;
  space4: $space-4;
  space5: $space-5;
  space6: $space-6;
  space7: $space-7;
  space8: $space-8;
  space9: $space-9;
  space10: $space-10;
  space11: $space-11;
  space12: $space-12;

  spaceExact2: $space-exact-2;
  spaceExact14: $space-exact-14;
  spaceExact56: $space-exact-56;
  spaceExact72: $space-exact-72;

  fontSize8: $font-size-8;
  fontSize12: $font-size-12;
  fontSize14: $font-size-14;
  fontSize16: $font-size-16;
  fontSize18: $font-size-18;
  fontSize20: $font-size-20;
  fontSize24: $font-size-24;
  fontSize36: $font-size-36;
  fontSize48: $font-size-48;

  brandPrimary: $brand-primary;
  brandPrimaryDark: $brand-primary-dark;
  brandSecondary: $brand-secondary;
  brandSecondaryDark: $brand-secondary-dark;
  gray: $gray;
  grayDark: $gray-dark;
  white: $white;
  black: $black;
}
